{% extends "../publicTemplate/layout.html" %}
{% block content %}
<div id="board_list" style="padding-top: 50px;">
    <h1>여긴 게시판 리스트야</h1>
    <table cellspacing="0" cellpadding="0" id="board">
        <thead>
        <tr>
            <th>번호</th>
            <th class="subject">제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div id="paging">
        <ul>

        </ul>
    </div>

    <template id="board_row">
        <tr>
            <td>{idx}</td>
            <td></td>
            <td>{nickname}</td>
            <td>{date}</td>
            <td>{hit}</td>
        </tr>
    </template>
</div>
<script type="text/javascript" src="/js/board/list.js"></script>
{% endblock %}