{% extends "../publicTemplate/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/css/board/list.css">
<div id="board_list" class="paddingTop_content">
    <h1>여긴 게시판 리스트야</h1>
    <a id="write" href="/board/write">글쓰러가기</a>
    <div id="rank">
        <h2>포인트 랭킹</h2>
        <span id="ranking1"></span>
        <span id="ranking2"></span>
        <span id="ranking3"></span>
        <span id="ranking4"></span>
        <span id="ranking5"></span>
        
        
    </div>
    <table cellspacing="0" cellpadding="0" id="board">
        <thead>
            <h3>카테고리를 선택해주세요!!</h3>
            <select id="board_cate_name" onchange="showValue(this)" name="category">
                <optgroup label="메인카테고리">
                <option>카테고리</option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
                <option></option>
                </optgroup>
            </select>
        <tr>
            <th>번호</th>
            <th class="subject">제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
            <th>좋아요</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div id="paging">
        <ul>

        </ul>
    </div>
    <template id="board_row">
        <tr>
            <td class="board_list_td">{idx}</td>
            <td class="td_subject"></td>
            <td class="board_list_td">{nickname}</td>
            <td class="board_list_td">{date}</td>
            <td class="board_list_td">{hit}</td>
            <td class="board_list_td">{like}</td>
        </tr>
    </template>
</div>
<script type="text/javascript" src="/js/board/list.js"></script>
{% endblock %}