{% extends "../publicTemplate/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/css/board/view.css">
<div id="board_view_wrap" class="paddingTop_content">
    <div id="board_view">
        <div id="sector">
        <span><a href="/board/list">목록 돌아가기</a></span>
        <span>제목 : <span id="subject"></span></span>
        <span>닉네임 : <span id="nickname"></span> </span>
        </div>
        <div id="sector2">
        <span>내용 : <span id="content"></span></span>
        </div>
        <div id="like_sector">
        <button id="btn_like"><span>좋아요</span></button>
        <button id="btn_likecancle"><span>좋아요취소</span></button>
        <div id="heartwrap">
        <span id="heartshape"></span>
        </div>
        </div>
<!--        {% if %}-->
        <div id="update_delete">
        <h2><a id="update_link" href="">수정하기</a></h2>
        <form id="board_delete_form" method="post" action="http://localhost4001/api/board/delete">
            <input id="idx_hidden" type="hidden" name="idx" value="">
            <input id="delete_btn" type="submit" value="삭제하기">
        </form>
        </div>
<!--        {% else %}-->
<!--        {% endif %}-->
        <div id="comment_box">
        <form id="write_comment_board_form" method="post" action="http://localhost:4001/api/comment/write">
            <input id="input_comment" type="text" name="content" placeholder="댓글창입니다.">
            <input type="submit" value="작성">
        </form>
        <table>
            <tbody>

            </tbody>
        </table>
        </div>
    </div>
</div>

<template id="comment_board">
    <tr class="comment-row">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="hidden" class="comment_idx" value="test"></td>
        <td><span class="comment_delete_btn">삭제</span></td>
        <td><button id="btn_comment_recommend" type="button"><span>댓글 추천</span></button></td>
    </tr>
</template>

<script type="text/javascript" src="/js/board/view.js"></script>
<script type="text/javascript" src="/js/board/comment.js"></script>
{% endblock %}