{% extends "../publicTemplate/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/css/board/write.css">
<h1>글쓰기 페이지야 인풋은 곧 넣겠습니다...😢</h1>
<!-- 카테고리네임, 제목, 컨텐트 (test) -->
<form id="board_write_Frm" method="post" action="http://localhost:4001/board/write" enctype="multipart/form-data" style="padding-top: 50px;">
    <a href="/board/list">목록 돌아가기</a>
    <select id="board_cate_name" name="category">
        <optgroup label="메인카테고리">
        <option>카테고리</option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        </optgroup>
        <!-- <optgroup label="서브카테고리">
            <option value="서브카테1">서브카테1</option>
            <option value="서브카테2">서브카테2</option>
        </optgroup> -->
    </select>
    
    <input id="board_subject" type="text" name="subject" placeholder="제목">
    <input id="board_content" type="text" name="content" placeholder="컨텐트">
    <input id="board_write_btn" type="submit" value="글쓰기">
</form>
<script type="text/javascript" src="/js/board/write.js"></script>
{% endblock %}