<div id="free_board_wrap" class="header_backColor">
    <ul id="header_board">
        <tbody>

        </tbody>
    </ul>
    <template id="header_board_row">
        <li>
            <div id="header_board_thumbnail">
                <span>썸네일 이었던것..</span>
            </div>
            <div id="header_board_wrap">
                <span class="header_board_subject"></span>
                <span class="header_board_cate"></span>
                <span class="header_board_elapsed"></span>
                <span class="header_board_hit_like"></span>
            </div>
        </li>
    </template>
</div>
<script type="text/javascript" src="/js/publicTemplate/header_board.js"></script>