<div id="free_board_wrap" class="header_backColor">
    <table cellspacing="0" cellpadding="0" id="header_board">
        <thead>
        <tr>
            <!-- 썸네일 -->
            <th>썸네일</th>
            <!-- 제목 -->
            <th>제목</th>
            <!-- 내용 -->
            <th>내용</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div id="header_paging">
        <ul>

        </ul>
    </div>
    <template id="header_board_row">
        <tr>
            <!--<td class="board_list_td">{idx}</td>-->
            <td class="td_thumbnail">{thumbnail}</td>
            <td class="td_subject"></td>
            <td class="td_content">{content}</td>
            <!--<td class="board_list_td">{nickname}</td>-->
        </tr>
    </template>
    <button class="btn close_board">x</button>
</div>
<script type="text/javascript" src="/js/publicTemplate/header_board.js"></script>