<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link href="/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% include "../nunjucks/header.html" %}
    <div id="admin_home_wrap">
        <div id="wrap">
            <h3 id="pagename">관리자의 -카테고리 게시물 수정 페이지</h3>
            <div class="category_edit">
                 <div> <input type="text" id="input"> 수정 할 카테고리 <span id="result"></span>
                    <script>
                      input.oninput = function() {
                        result.innerHTML = input.value;
                      };
                    </script>
                </div>    
            </div>
            <div class="board_edit">
                <div class="button">
                <button><a href="/">게시물 숨기러 가기</button>
                 </div>
           </div>
        
    </div>
   
    {% include "../nunjucks/footer.html" %}
</body>
</html>