{% extends "../publicTemplate/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/css/admin/category.css">
<div id="adminpage">
    <h1><a href="/admin">관리자 페이지 돌아가기</a></h1>
    <div id="current_category_list">
        <h1>카테고리 최대갯수는 '전체'를 포함해 7개입니다.</h1>
        <h3>현재 카테고리 :
           <span id="cate_list"></span>
           <span id="cate_list"></span>
           <span id="cate_list"></span>
           <span id="cate_list"></span>
           <span id="cate_list"></span>
           <span id="cate_list"></span>
           <span id="cate_list"></span>
        </h3>
        </div>
    <ul>
        <li>
            <form id="category_plus_form" method="post" action="http://localhost4001/api/category/mainPlus">
                카테고리 추가 : <input id="plus_input" type="text">
                <input id="plus_btn" type="submit" value="카테고리 추가">
            </form>
        </li>
        <li>

        </li>
        <li>

            <form id="category_delete_form" method="post" action="http://localhost4001/api/category/delete">
                카테고리 삭제 : <input id="delete_input" type="text">
                <input id="delete_btn" type="submit" value="카테고리 삭제">
                (삭제할 카테고리 이름을 정확하게 써주세요)
            </form>         
        </li>

        <div id="location_btn">
            <button> <h2><a href="../admin/board">게시판 관리 페이지로</a></h2> </button>
            <button><h2><a href="../admin/user">유저 관리 페이지로</a></h2></button>
        </div>

<script type="text/javascript" src="/js/admin/category.js"></script>
{% endblock %}