{% extends "../publicTemplate/layout.html" %}
{% block content %}

<div id="wrap">
    <h3 id="list_pagename">회원 리스트</h3>
    <div class="admin_list">
        <div class="text">
            <h2>관리자 <p>(level 3)</p></h2>
            <h2>중간사용자 <p> (level 2) </p>     </h2>
            <h2>사용자 <p>(level 1)</p></h2>
        </div>
        <div class="admin1">
            <ul>
                {% for data in rows %}
                {% if data.level == 1 %}
                <li><a href='/admin/user/?nickname={{nickname}}'>{{nickname}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>    
            <ul>
                {% for data in rows %}
                {% if data.level == 2 %}
                <li><a href='/admin/user/?nickname={{nickname}}'>{{nickname}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>    
         
            <ul>
                {% for data in rows %}
                {% if data.level == 3 %}
                <li><a href='/admin/user/?nickname={{nickname}'>{{nickname}}</a></li>
                {% endif %}
                {% endfor %}
            </ul>   
        </div>
    </div>
    <div class="list_button">
              <button><a href="/admin/user">유저 페이지</a></button>
    </div>
</div>

{% endblock %}