{% extends "../publicTemplate/layout.html" %}
{% block content %}
    <div id="wrap">
        <h3 id="list_pagename">관리자의 회원 정보 수정 페이지</h3>
        <div class="member_info">
            <p>아이디: <span>{{rows.userid}}</span></p>
           
            <p>이름: <span>{{rows.username}}</span></p>
            <p>닉네임: <span>{{rows.nickname}}</span></p>
            
            {% if rows.level != 1 %}
            <form method="post" action="/admin/info">
                <p>등급변경 : 
                    <select name="level">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </p>
               
                <p>이용가능여부변경 : 
                    <select name="active">
                        <option>true</option>
                        <option>false</option>
                    </select>
                </p>
                <input type="hidden" name="userid" value="{{rows.userid}}">
                <button type="submit">변경하기</button>
            </form>
            {% endif %}       
        </div>
        <div class="level_button">
            <button><a href="../admin/board">관리자의 게시물 수정 페이지</a></button>
            <button><a href="../admin/category">관리자의 카테고리 수정 페이지</a></button>
            <button><a href="../admin">관리자 메인 페이지</a></button>
        </div>
    </div>
        
{% endblock %}