{% extends "../publicTemplate/layout.html" %}
{% block content %}
    <div id="wrap">
        <h3 id="list_pagename">관리자의 회원 정보 수정 페이지</h3>
        <div class="member_info">
            <form id="admin_user_update_form" method="post" action ="">


                닉네임 : <span id ="nickname" name ="" value =""></span>
                레벨 :   <input id ="level" name ="" value ="">
                활동중지 : <input id ="access" name ="" value ="">


            <p>닉네임: <span>{{nickname}}</span></p>
            
            {% if level != 3 %}
            <form method="post" action="/admin/info">
                <p>등급변경 : 
                    <select name="level">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </p>
               
                <p>이용 가능 여부 변경 : 
                    <select name="active">
                        <option>true</option>
                        <option>false</option>
                    </select>
                </p>
                <input type="hidden" name="nickname" value="{{nickname}}">
                <button type="submit">변경하기</button>
      
<!--       
                <button type="submit">탈퇴하기버튼</button>
       -->
      
            </form>
        </form>

               
        </div>
        <div class="level_button">
            <button><a href="../admin/board">관리자의 게시물 수정 페이지</a></button>
            <button><a href="../admin/category">관리자의 카테고리 수정 페이지</a></button>
            <button><a href="../admin">관리자 메인 페이지</a></button>
        </div>
    </div>
        
{% endblock %}