*{
    margin:0;
    padding:0;
}
#notice{
    width:1200px;
    margin:100px;
    margin-top:100px;
}
#notice > h1{
    margin:0 0 50px 50px;
    margin-top:200px;
}
#notice >h1> a{
    margin-left:20px;
    font-size:25px;
    color:blue;
}
#notice >h1> a:first-child{
    margin-left:550px;
}
#notice >h1> a:hover{
    opacity: 0.5;
}
#notice > ul{
    width: 800px;
    border:1px solid black;
    margin:0 auto;
    margin-top:100px;
}
#notice > ul>li{
    padding:40px 0 40px 80px;
    font-size:30px;
}