{% extends "../publicTemplate/layout.html" %}
{% block content %}

<div id="content">
    <h1><a href="/">안녕??😘😘</a></h1>
    <h2>로그인 인풋이 들어갈거야... 로그인되면 hidden 될거야..카카오도 마찬가지</h2>
    <h2><a href="user/mypage">로그인되면 요게 보일거야</a></h2>
    <h2><a href="user/welcome">로그인이나 회원가입하면 여기로 갈거야</a></h2>
    <h2><a href="/auth/kakao">카카오 로그인</a></h2>
    <h2><a href="/user/join">회원가입</a></h2>
    <h2><a href="/admin/index">관리자 페이지</a></h2>
    <h2><a href="/notice/list">공지사항</a></h2>
    <h2><a href="/qna/list">Q&A</a></h2>
    <h2><a href="/board/list">가상의 로고, 가상의 게시판 리스트로</a></h2>
    <h2><a href="/board/view">가상의 대표이미지(제일 최근 이미지), 가상의 게시판 글읽기로</a></h2>
    <h2><a href="/board/view">가상의 대표이미지(제일 최근 이미지), 가상의 게시판 글읽기로</a></h2>
    <h2><a href="/board/view">가상의 대표이미지(제일 최근 이미지), 가상의 게시판 글읽기로</a></h2>
    <h2><a href="/board/list">가상의 카테고리, 가상의 게시판 리스트로</a></h2>
</div>
{% endblock %}