{% extends "../publicTemplate/layout.html" %}
{% block content %}
<script type="text/javascript">

</script>
<div id="content" class="paddingTop_content">
    <div id="table_price">
        <span id="table_price_legend">현재가, 변동폭</span>
        <table>
            <tr id="aqt">
                <td class="cate">
                    🤦‍♂️알파쿼크
                </td>
                <td class="price">
                    <span></span>
                </td>
                <td class="change_price">
                    <span></span>
                </td>
                <td class="plusMinus">
                    <span></span>
                </td>
                <td class="rate">
                    <span></span>
                </td>
                <td class="percent">
                    <span></span>
                </td>
            </tr>
            <tr id="btc">
                <td class="cate">
                    비트코인
                </td>
                <td class="price">
                    <span></span>
                </td>
                <td class="change_price">
                    <span></span>
                </td>
                <td class="plusMinus">
                    <span></span>
                </td>
                <td class="rate">
                    <span></span>
                </td>
                <td class="percent">
                    <span></span>
                </td>
            </tr>
            <tr id="eth">
                <td class="cate">
                    이더리움
                </td>
                <td class="price">
                    <span></span>
                </td>
                <td class="change_price">
                    <span></span>
                </td>
                <td class="plusMinus">
                    <span></span>
                </td>
                <td class="rate">
                    <span></span>
                </td>
                <td class="percent">
                    <span></span>
                </td>
            </tr>
            <tr id="xrp">
                <td class="cate">
                    리플
                </td>
                <td class="price">
                    <span></span>
                </td>
                <td class="change_price">
                    <span></span>
                </td>
                <td class="plusMinus">
                    <span></span>
                </td>
                <td class="rate">
                    <span></span>
                </td>
                <td class="percent">
                    <span></span>
                </td>
            </tr>
            <tr id="sol">
                <td class="cate">
                    솔라나
                </td>
                <td class="price">
                    <span></span>
                </td>
                <td class="change_price">
                    <span></span>
                </td>
                <td class="plusMinus">
                    <span></span>
                </td>
                <td class="rate">
                    <span></span>
                </td>
                <td class="percent">
                    <span></span>
                </td>
            </tr>
            <tr id="ada">
                <td class="cate">
                    에이다
                </td>
                <td class="price">
                    <span></span>
                </td>
                <td class="change_price">
                    <span></span>
                </td>
                <td class="plusMinus">
                    <span></span>
                </td>
                <td class="rate">
                    <span></span>
                </td>
                <td class="percent">
                    <span></span>
                </td>
            </tr>
            <tr id="knc">
                <td class="cate">
                    보여주기용 하락장코인
                </td>
                <td class="price">
                    <span></span>
                </td>
                <td class="change_price">
                    <span></span>
                </td>
                <td class="plusMinus">
                    <span></span>
                </td>
                <td class="rate">
                    <span></span>
                </td>
                <td class="percent">
                    <span></span>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}