{% extends "../publicTemplate/layout.html" %}
{% block content %}
<div id="content">
    <form id="user_join_frm" method="post" action="http://localhost:4001/api/user/join">
        <input id="userid" type="text" name="userid" placeholder="아이디">
        <input id="userpw" type="password" name="userpw" placeholder="비밀번호">
        <input id="username" type="text" name="username" placeholder="이름">
        <input id="nickname" type="text" name="nickname" placeholder="별명">
        <input id="address" type="text" name="address" placeholder="주소">
        <input id="gender1" type="radio" name="gender" value="M">남
        <input id="gender2" type="radio" name="gender" value="W">여
        <input id="telephone" type="text" name="telephone" placeholder="전화번호">
        <input id="phonenumber" type="text" name="phonenumber" placeholder="핸드폰번호">
        <input id="email" type="text" name="email" placeholder="이메일">
        <textarea id="introduce" type="textarea" name="introduce" placeholder="자기소개"></textarea>
        <input type="submit" value="회원가입">
    </form>
</div>
<script type="text/javascript" src="/js/user/join.js"></script>
{% endblock %}