{% extends "../publicTemplate/layout.html" %}
{% block content %}


    <link rel="stylesheet" href="../../public/css/mypage.css">

<body>
    
        <h3 id="pagename_profile"> 내 정보</h3>
        
            <div id="profile_center">
                <div class="profile_info_view">

                    <br><br><br>
                    <p align = "center"><span>" {{nickname}}" </span>님 반갑습니다.</p>
                    <p align = "center">핸드폰번호: {{phonenumber}}</p>       
                    <p align = "center">주소 :{{address}}</p>
                    <p align = "center">레벨 :{{level}} </p>
                    <p align = "center">포인트 :{{point}} </p> 
               
                </div>
              

  
        <br>
        <div id="box">
            <button class="main" text align ="center"><a href="/"> MAIN</a></button>
        </div>
    </div>

</body>

   
{% endblock %}