<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    
</head>
<body>
    
    <div id="welcome_wrap">
        <h3 id="pagename">🌝 Welcome to our New members! 🌝</h3>
        <div class="join_info">
            <p>"<span id="nickname"></span>"님 반갑습니다.</p>
            <p> ID <span id="userid"></span></p>
            <p> NAME <span id="username"></span></p>
            <p> GENDER <span id="gender"></span></p>
            <p> PHONE <span id="phonenumber"></span></p>
                   
        </div>
        <div class="button">
            <button><a href="/">home</a></button>
            <button><a href="/user/login">login</a></button>
        </div>
    </div>
    
    <!-- welcome.js만들기 -->
</body>
</html>
    